# Supabase core
NEXT_PUBLIC_SUPABASE_URL=https://ijhwjwhvjrkaptyqwylj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqaHdqd2h2anJrYXB0eXF3eWxqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NjAyODYsImV4cCI6MjA4OTAzNjI4Nn0.5niZO73sMbUbWcU4yod1cHi6HpJ3WitbS5oEBnQhfdg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqaHdqd2h2anJrYXB0eXF3eWxqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ2MDI4NiwiZXhwIjoyMDg5MDM2Mjg2fQ.4Vi6gm3eWNkjp7m83NhfQwDS_yXCUNjuEEcqedsR9CI
E2E_SUPABASE_TEST_EMAIL=abhishek.dave@bacancy.com
E2E_SUPABASE_TEST_PASSWORD=pebhjTk2ChXa37ai


